### HousePrice SparkSql

In [2]:
from pyspark.sql import SparkSession
session = SparkSession.builder.appName("House Prices").master("local[1]").getOrCreate()

In [6]:
houseDF = session.read
dataFrame = houseDF.option("header",value=True).option("inferSchema",value=True)\
.csv("/Users/ashishdwivedi/anaconda3/envs/ml-lib/Spark/Codes/in/RealEstate.csv")

In [16]:
PSF = "Price SQ Ft"
dataFrame.groupBy("Location").avg(PSF).orderBy("avg(Price SQ Ft)").show()

+-------------------+------------------+
|           Location|  avg(Price SQ Ft)|
+-------------------+------------------+
|         New Cuyama|             34.05|
|        Bakersfield|             69.69|
|          King City| 71.51333333333334|
|         Greenfield|             91.58|
|    Santa Margarita|             95.38|
|            Soledad|102.69333333333333|
|        Out Of Area|116.23333333333333|
|          Guadalupe|           120.175|
|           Coalinga|124.34285714285714|
| Santa Maria-Orcutt|147.58871698113194|
|             Lompoc|             149.9|
|             Lompoc|159.87115384615387|
|         San Miguel|163.16071428571425|
|            Bradley|            166.81|
|            Creston|            181.76|
| Santa Maria-Orcutt|183.03692307692307|
|             Nipomo|187.92333333333332|
|        Paso Robles|191.17752941176474|
|         Los Alamos|191.99333333333334|
|            Solvang|           193.305|
+-------------------+------------------+
only showing top 20 rows

In [18]:
dataFrame.groupBy("Bedrooms").avg(PSF).orderBy("Bedrooms").show()

+--------+------------------+
|Bedrooms|  avg(Price SQ Ft)|
+--------+------------------+
|       0|            516.85|
|       1|288.29090909090917|
|       2| 239.8950406504065|
|       3| 211.1135498839907|
|       4|194.12480225988693|
|       5|206.65258064516124|
|       6|          180.9675|
|       7|            120.91|
|      10|            142.51|
+--------+------------------+

In [19]:
session.stop()