## SparkSql Program
### While working with RDD we use SparkContext whereas when using DataFrame we use SparkSession

In [1]:
from pyspark.sql import SparkSession

In [2]:
# very first object to create a SparkSql program
session = SparkSession.builder.appName("SparkSqlfirstProgram").master("local[1]").getOrCreate()

In [3]:
dataFrame = session.read

In [12]:
response = dataFrame.option("header",value=True).option("inferSchema",value=True)\
.csv("/Users/ashishdwivedi/anaconda3/envs/ml-lib/Spark/Codes/in/2016-stack-overflow-survey-responses.csv")

## value =True or "true" both work as second param

In [13]:
AM = "age_midpoint"
SM = "salary_midpoint"
CSR = "company_size_range"

In [11]:
response.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- collector: string (nullable = true)
 |-- country: string (nullable = true)
 |-- un_subregion: string (nullable = true)
 |-- so_region: string (nullable = true)
 |-- age_range: string (nullable = true)
 |-- age_midpoint: double (nullable = true)
 |-- gender: string (nullable = true)
 |-- self_identification: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- occupation_group: string (nullable = true)
 |-- experience_range: string (nullable = true)
 |-- experience_midpoint: double (nullable = true)
 |-- salary_range: string (nullable = true)
 |-- salary_midpoint: double (nullable = true)
 |-- big_mac_index: double (nullable = true)
 |-- tech_do: string (nullable = true)
 |-- tech_want: string (nullable = true)
 |-- aliens: string (nullable = true)
 |-- programming_ability: double (nullable = true)
 |-- employment_status: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- company_size_range: string (nullable = true)
 |-- team_size_range: string (nullable = true)
 |-- women_on_team: string (nullable = true)
 |-- remote: string (nullable = true)
 |-- job_satisfaction: string (nullable = true)
 |-- job_discovery: string (nullable = true)
 |-- dev_environment: string (nullable = true)
 |-- commit_frequency: string (nullable = true)
 |-- hobby: string (nullable = true)
 |-- dogs_vs_cats: string (nullable = true)
 |-- desktop_os: string (nullable = true)
 |-- unit_testing: string (nullable = true)
 |-- rep_range: string (nullable = true)
 |-- visit_frequency: string (nullable = true)
 |-- why_learn_new_tech: string (nullable = true)
 |-- education: string (nullable = true)
 |-- open_to_new_job: string (nullable = true)
 |-- new_job_value: string (nullable = true)
 |-- job_search_annoyance: string (nullable = true)
 |-- interview_likelihood: string (nullable = true)
 |-- how_to_improve_interview_process: string (nullable = true)
 |-- star_wars_vs_star_trek: string (nullable = true)
 |-- agree_tech: string (nullable = true)
 |-- agree_notice: string (nullable = true)
 |-- agree_problemsolving: string (nullable = true)
 |-- agree_diversity: string (nullable = true)
 |-- agree_adblocker: string (nullable = true)
 |-- agree_alcohol: string (nullable = true)
 |-- agree_loveboss: string (nullable = true)
 |-- agree_nightcode: string (nullable = true)
 |-- agree_legacy: string (nullable = true)
 |-- agree_mars: string (nullable = true)
 |-- important_variety: string (nullable = true)
 |-- important_control: string (nullable = true)
 |-- important_sameend: string (nullable = true)
 |-- important_newtech: string (nullable = true)
 |-- important_buildnew: string (nullable = true)
 |-- important_buildexisting: string (nullable = true)
 |-- important_promotion: string (nullable = true)
 |-- important_companymission: string (nullable = true)
 |-- important_wfh: string (nullable = true)
 |-- important_ownoffice: string (nullable = true)
 |-- developer_challenges: string (nullable = true)
 |-- why_stack_overflow: string (nullable = true)

In [21]:
responseWithFewCols =response.select("country","occupation","age_range",AM,SM,CSR)
print("Top few rows from above dataframe")
responseWithFewCols.show()

Top few rows from above dataframe
+-----------+--------------------+--------------------+------------+---------------+--------------------+
|    country|          occupation|           age_range|age_midpoint|salary_midpoint|  company_size_range|
+-----------+--------------------+--------------------+------------+---------------+--------------------+
|Afghanistan|                null|               20-24|        22.0|           null|                null|
|Afghanistan|Mobile developer ...|               30-34|        32.0|        45000.0|   100-499 employees|
|Afghanistan|                null|                null|        null|           null|                null|
|Afghanistan|              DevOps|                null|        null|         5000.0|   100-499 employees|
|Afghanistan|                null|                > 60|        65.0|           null|                null|
|Afghanistan|                null|               20-24|        22.0|           null|                null|
|Afghanistan|       Growth hacker|Prefer not to dis...|        null|       210000.0|I am not part of ...|
|Afghanistan|Back-end web deve...|               25-29|        27.0|         5000.0|     10-19 employees|
|    Albania|                null|               25-29|        27.0|           null|                null|
|    Albania|Back-end web deve...|               20-24|        22.0|         5000.0|       5-9 employees|
|    Albania|Full-stack web de...|               25-29|        27.0|         5000.0|                null|
|    Albania|Full-stack web de...|               20-24|        22.0|        15000.0|   100-499 employees|
|    Albania|Full-stack web de...|               25-29|        27.0|         5000.0|     10-19 employees|
|    Albania|Back-end web deve...|               25-29|        27.0|         5000.0|     10-19 employees|
|    Albania|Back-end web deve...|               20-24|        22.0|        15000.0|     20-99 employees|
|    Algeria|                null|               40-49|        44.5|           null|                null|
|    Algeria|   Desktop developer|               25-29|        27.0|           null|                null|
|    Algeria|             Student|                < 20|        16.0|           null|                null|
|    Algeria|                null|               20-24|        22.0|           null|                null|
|    Algeria|   Desktop developer|               25-29|        27.0|        15000.0|       1-4 employees|
+-----------+--------------------+--------------------+------------+---------------+--------------------+
only showing top 20 rows

In [15]:
print("Only Albania entries")
responseWithFewCols.filter(responseWithFewCols["country"]=="Albania").show()

Only Albania entries
+-------+---------+------------+---------------+------------------+
|country|age_range|age_midpoint|salary_midpoint|company_size_range|
+-------+---------+------------+---------------+------------------+
|Albania|    25-29|        27.0|           null|              null|
|Albania|    20-24|        22.0|         5000.0|     5-9 employees|
|Albania|    25-29|        27.0|         5000.0|              null|
|Albania|    20-24|        22.0|        15000.0| 100-499 employees|
|Albania|    25-29|        27.0|         5000.0|   10-19 employees|
|Albania|    25-29|        27.0|         5000.0|   10-19 employees|
|Albania|    20-24|        22.0|        15000.0|   20-99 employees|
+-------+---------+------------+---------------+------------------+

In [19]:
print("Grouping By the country")
groupData=responseWithFewCols.groupBy("country")
groupData.count().show()
print(type(groupData))

Grouping By the country
+------------------+-----+
|           country|count|
+------------------+-----+
|           Germany|  168|
|       Afghanistan|    8|
|          Cambodia|    4|
|            France|  351|
|           Algeria|   11|
|         Argentina|  146|
|           Belgium|  150|
|           Ecuador|    3|
|           Albania|    7|
|           Finland|  128|
|           Bahamas|    1|
|             China|   21|
|           Belarus|    2|
|             Chile|    9|
|           Croatia|   22|
|           Andorra|    3|
|           Bolivia|    2|
|           Denmark|  189|
|        Bangladesh|   19|
|Bosnia Herzegovina|   13|
+------------------+-----+
only showing top 20 rows

<class 'pyspark.sql.group.GroupedData'>

In [22]:
print("age < 35")
responseWithFewCols.filter(responseWithFewCols[AM]<35).show()

age < 35
+-----------+--------------------+---------+------------+---------------+------------------+
|    country|          occupation|age_range|age_midpoint|salary_midpoint|company_size_range|
+-----------+--------------------+---------+------------+---------------+------------------+
|Afghanistan|                null|    20-24|        22.0|           null|              null|
|Afghanistan|Mobile developer ...|    30-34|        32.0|        45000.0| 100-499 employees|
|Afghanistan|                null|    20-24|        22.0|           null|              null|
|Afghanistan|Back-end web deve...|    25-29|        27.0|         5000.0|   10-19 employees|
|    Albania|                null|    25-29|        27.0|           null|              null|
|    Albania|Back-end web deve...|    20-24|        22.0|         5000.0|     5-9 employees|
|    Albania|Full-stack web de...|    25-29|        27.0|         5000.0|              null|
|    Albania|Full-stack web de...|    20-24|        22.0|        15000.0| 100-499 employees|
|    Albania|Full-stack web de...|    25-29|        27.0|         5000.0|   10-19 employees|
|    Albania|Back-end web deve...|    25-29|        27.0|         5000.0|   10-19 employees|
|    Albania|Back-end web deve...|    20-24|        22.0|        15000.0|   20-99 employees|
|    Algeria|   Desktop developer|    25-29|        27.0|           null|              null|
|    Algeria|             Student|     < 20|        16.0|           null|              null|
|    Algeria|                null|    20-24|        22.0|           null|              null|
|    Algeria|   Desktop developer|    25-29|        27.0|        15000.0|     1-4 employees|
|    Algeria|   Desktop developer|    20-24|        22.0|        95000.0|              null|
|    Algeria|Full-stack web de...|    20-24|        22.0|         5000.0|              null|
|    Algeria|Back-end web deve...|     < 20|        16.0|           null|              null|
|    Algeria|Full-stack web de...|    20-24|        22.0|         5000.0|   10-19 employees|
|    Algeria|             Student|    20-24|        22.0|           null|              null|
+-----------+--------------------+---------+------------+---------------+------------------+
only showing top 20 rows

In [23]:
## group by country and salary mid point
groupedDataByCountry=responseWithFewCols.groupBy("country")
groupedDataByCountry.avg(SM).show()

+------------------+--------------------+
|           country|avg(salary_midpoint)|
+------------------+--------------------+
|           Germany|  46491.228070175435|
|       Afghanistan|             66250.0|
|          Cambodia|              5000.0|
|            France|  39648.760330578516|
|           Algeria|             30000.0|
|         Argentina|  27950.819672131147|
|           Belgium|   45989.01098901099|
|           Ecuador|             40000.0|
|           Albania|   8333.333333333334|
|           Finland|   45714.28571428572|
|           Bahamas|             95000.0|
|             China|             54687.5|
|           Belarus|             10000.0|
|             Chile|  41666.666666666664|
|           Croatia|  14166.666666666666|
|           Andorra|             40000.0|
|           Bolivia|              5000.0|
|           Denmark|   68768.65671641791|
|        Bangladesh|   7307.692307692308|
|Bosnia Herzegovina|             10000.0|
+------------------+--------------------+
only showing top 20 rows

In [28]:
### now finding the salary bucket : bucket value 20000
SMB="Salary_Midpoint_Bucket"
responseWithBucket = response.withColumn(SMB,((response[SM]/20000).cast("integer")*20000))
responseWithBucket.select(SM,SMB).show()

+---------------+----------------------+
|salary_midpoint|Salary_Midpoint_Bucket|
+---------------+----------------------+
|           null|                  null|
|        45000.0|                 40000|
|           null|                  null|
|         5000.0|                     0|
|           null|                  null|
|           null|                  null|
|       210000.0|                200000|
|         5000.0|                     0|
|           null|                  null|
|         5000.0|                     0|
|         5000.0|                     0|
|        15000.0|                     0|
|         5000.0|                     0|
|         5000.0|                     0|
|        15000.0|                     0|
|           null|                  null|
|           null|                  null|
|           null|                  null|
|           null|                  null|
|        15000.0|                     0|
+---------------+----------------------+
only showing top 20 rows

In [29]:
responseWithBucket.groupBy(SMB).count().orderBy(SMB).show()

+----------------------+-----+
|Salary_Midpoint_Bucket|count|
+----------------------+-----+
|                  null|  566|
|                     0|  523|
|                 20000|  351|
|                 40000|  260|
|                 60000|  134|
|                 80000|   63|
|                100000|   51|
|                120000|   23|
|                140000|   11|
|                160000|    5|
|                180000|    3|
|                200000|    9|
+----------------------+-----+

In [30]:
session.stop() # free spark sql